[Unit]
Description=Recupera fila de IA da Altum a cada minuto

[Timer]
OnBootSec=40s
OnUnitActiveSec=60s
AccuracySec=5s
Unit=altum-job@ai.service

[Install]
WantedBy=timers.target

