{
  email ops@altumia.com.br
}

evolution.altumia.com.br {
  encode zstd gzip

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
    Referrer-Policy "strict-origin-when-cross-origin"
    -Server
  }

  reverse_proxy evolution:8080

  log {
    output stdout
    format json
  }
}

